.header-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #df8134;}

.header-list a { 
    color: black;
    text-decoration: none;
    display: block;
    padding: 10px 20px;
}


.header-list li { 
    float: left;
    display:inline;
    padding: 5px 10px;
}
.header-list li a:hover {
    background-color: #fab802;
}

.header-list .is-active {
    color: white;
    background-color: #fab8029a;
}

